body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

form {
    margin: 0 auto;
    max-width: 600px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#home {
    background-image: url('../images/OIP (1).jpeg');
    background-size: cover;
    background-position: center;
}

/* Example for styling images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#about {
    padding: 20px;
}

#about h3 {
    margin-top: 20px;
}

#about ul {
    list-style-type: none;
    padding: 0;
}

#about ul li {
    margin-bottom: 10px;
}


